@import "tailwindcss";

:root {
  --background: #020617;
  /* slate-950 */
  --foreground: #f8fafc;
  /* slate-50 */
}

@layer base {
  :root {
    --font-inter: var(--font-inter);
    --font-outfit: var(--font-outfit);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-shine {
    animation: shine 1.5s ease-out infinite;
  }

  @keyframes shine {
    0% {
      transform: translateX(-100%) skewX(-12deg);
    }

    100% {
      transform: translateX(200%) skewX(-12deg);
    }
  }

  .animate-pulse-slow {
    animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 0.1;
    }

    50% {
      opacity: 0.3;
    }
  }
}